/* Navbar1.module.css */

.navbar {
  width: 95%;
  max-width: 1300px;
  height: 65px;
  margin:  auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: transparent;
  position: relative; 
}

.logo_content {
  padding-left: 4px;
}
.logo_content h4 {
  font-weight: 700;
}
.logo_content p {
  color: var(--primary-color);
  font-size: smaller;
}

.contactItem {
 
  padding: 10px 15px !important;
  font-size: large;
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important ;
  /* color:var(--background-color2); */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.logoImg {
 height: 2rem;
 width: 2rem;
}

.span {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--text-color2);
}

.menu {
  display: flex;
  gap: 20px;
}

.menuItem {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.2rem;
  margin: auto 0.6rem;
  font-weight: 400;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem:hover {
  color: var(--accent-color); 
}
.menuItem.active {
  border-bottom: 2px solid var(--primary-color);
  
}


.menuToggle {
  display: none;
}

.menuToggleIcon {
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 1rem;
  color: var(--primary-color);
}

.menuList {
  display: flex;
  gap: 20px;
}

.icon {
  margin: auto;
  margin-right: 8px;
  padding-top: 3%;
  font-size: 20px;
}

.menuList.open {
  display: block;
  width: fit-content;
  padding: 1rem;
  right: 0%;
  text-align: start;
  border-radius: 5%;
  top: 110%;
  font-size: large;
  z-index: 2000;
  
  /* background-color: rgb(188, 229, 187); */
}

.menuList.open {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
/* 
.menuList {
  display: none;
  position: absolute;
  top: 65px;
  right: 20px;
  background-color: white;
  width: 100%;
  text-align: center;
  border: 1px solid var(--text-color2);
  padding: 10px;
  box-shadow: 0 4px 8px var(--border-color-lowopacity);
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
}

.menuList.open {
  display: block;
  max-height: 400px; /* Adjust to fit your content */

@media (max-width: 1024px) {
  .navbar {
    width: 95%;
    padding: 0 10px;
    margin: auto;
  }

  .span {
    font-size: 1.4rem;
  }

  .menu {
    margin: auto;
    padding: 1rem;
    margin-right: 0%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0;
  }

  .menuItem {
    font-size: 1rem;
    padding: 2px;
  }

  .menuToggle {
    display: block;
  }

  .menuList {
    display: none;
    position: absolute;
    top: 65px;
    right: 20px;
    background-color: white;
    width: 100%;
    text-align: center;
    border: 1px solid var(--text-color2);
    padding: 10px;
    box-shadow: 0 4px 8px var(--border-color-lowopacity);
  }

  .menuList.open {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .menuItem {
    font-size: 1rem;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 820px) {
  .navbar {
    padding: 0 5px;
  }

  .span {
    font-size: 1.2rem;
  }

  .menu {
    gap: 2px;
    font-size: 1rem;
    width: 100%;
    margin-top: 10px;
  }

  .menuItem {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    align-items: center;
  }

  .span {
    font-size: 1rem;
  }
  
  .menuList {
    gap: 13px;
  }

  .menu {
    gap: 5px;
  }
}
