.section1 {
  width: 50%;
}
h4{
  font-weight: 800;
}
.section1 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.section1 h1 {
  width: 80%;
  margin: 1rem 0;
  font-size: 3rem;
}

.section1 p {
  width: 80%;
}

.section1 button {
  margin-top: 3%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  font-size: 1rem;
  padding: 15px 23px;
  border-radius: 5px;
}

.testimonial__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  width: 90%;
  overflow-x: hidden;
}

.main__container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.testimonial__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  height: auto;
  margin: 10px;
}

.details {
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.testimonial__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.testimonial__content h3 {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
}

.testimonial__content p {
  width: 100%;
}

.testimonial__image {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.testimonial__image div {
  width: 130px;
  height: 130px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__image span {
  color: var(--secondary-color);
  text-align: center;
  width: 80%;
  font-size: 4.5rem;
  border-radius: 50%;
}

.slick-dots {
  bottom: -30px;
  text-align: center;
  position: relative;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: var(--secondary-color);
}

.slick-dots li.slick-active button:before {
  color: var(--text-color);
}

@media (max-width: 1024px) {
  .testimonial__container {
    height: auto;
  }

  .testimonial__slide {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 4px;
  }

  .details {
    margin: 1rem 0;
    padding: 0;
  }

  .testimonial__content {
    width: fit-content;
    padding: 15px;
  }

  .testimonial__image {
    width: auto;
    padding-right: 1rem;
    justify-content: center;
  }

  .testimonial__image div {
    width: 120px;
    height: 120px;
  }

  .testimonial__image span {
    font-size: 4rem;
  }

  .testimonial__content h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 830px) {
  .main__container {
    margin-bottom: 4%;
    height: fit-content;
  }

  .testimonial__container {
    height: fit-content;
  }

  .testimonial__content h3 {
    font-size: 1.2rem;
  }

  .testimonial__content p {
    font-size: 0.9rem;
  }

  .details {
    margin: 1rem 0;
  }

  .testimonial__slide {
    margin: 3px;
  }

  .testimonial__image {
    height: auto;
  }
}

@media (max-width: 768px) {
  .testimonial__content {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .testimonial__image {
    width: fit-content;
  }

  .testimonial__image div {
    width: 35%;
  }

  .testimonial__image span {
    font-size: 4rem;
  }

  .testimonial__content i {
    font-size: 0.8rem;
  }

  .testimonial__slide {
    /* padding: 10px; */
    height: auto;
  }

  .main__container {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .testimonial__container {
    flex-direction: column;
    height: fit-content;
  }

  .slider {
    width: 90% !important;
    margin: auto;
  }

  .section1 {
    width: 100%;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .details {
    margin: 0.5rem 0;
    padding: 0;
  }

  .testimonial__image {
    width: fit-content;
  }

  .testimonial__image div {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }

  .testimonial__image span {
    font-size: 2.5rem;
  }

  .testimonial__content i {
    font-size: 0.8rem;
  }

  .testimonial__slide {
    /* padding: 10px; */
    height: auto;
  }

  .section1 {
    width: 100%;
    padding-top: 0;
  }

  .testimonial__content {
    padding: 15px;
  }
}

@media (max-width: 380px) {
  .slick-dots li button:before {
    font-size: 6px !important;
  }

  .testimonial__slide {
    width: 95%;
    padding: 0;
    margin: auto;
  }

  .details {
    margin: 0.5rem 0;
    padding: 0;
  }

  .testimonial__image {
    height: auto;
  }

  .main__container {
    width: 80%;
  }

  .testimonial__image img {
    margin-top: -15px;
  }

  .testimonial__content h3 {
    font-size: 1.03rem;
  }

  .testimonial__content p {
    font-size: 0.7rem;
  }
}
