h1 {
  /* color: var(--secondary-color); */
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 auto;
  /* text-align: c; */
}
h3 {

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: small;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }

}

/* Paragraph styling */
p {
  font-size: 1rem;
  line-height: 1.4;
}

/* Responsive adjustments for paragraphs */
@media (max-width: 1024px) {
  p {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 0.85rem;
  }
}

