h1 {
  /* color: var(--secondary-color); */
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 auto;
  /* text-align: c; */
}
h3 {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 4px;
  border-radius: 4px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: small;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }

}

/* Paragraph styling */
p {
  font-size: 1rem;
  line-height: 1.4;
}

/* Responsive adjustments for paragraphs */
@media (max-width: 1024px) {
  p {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 0.85rem;
  }
}

button {
  padding: 1rem 1.2rem;
  width: fit-content;
  color: var(--secondary-color);
  border-radius: 30px;
  background-color: var(--primary-color);
  border: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  margin-top: 1rem;
}
@media (max-width: 850px) {
  button {
    height: 2.5rem;
    font-size: medium;
  }

}
@media (max-width: 1200px) {
  button {
    height: 3.2rem;
    font-size: medium;
  }
}
