*{
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --primary-color :#89DB7B;
  --secondary-color : white;
  /* --accent-color :#1A46EF; */
  --background-color:rgba(50, 103, 255, 0.1);
  --footerbackgroud-color: #3267FF;
  --formbackground-color :#F1F8FF80;
}